// backgrounds
$white-bg: rgba(255, 255, 255, 0.5);
$input-bg: #5c5c5c;

// font colors
$main-font-color: #dedede;
$yellow: #FCBE15;

// fonts
$raleway: 'Raleway', sans-serif;
$serif: 'Josefin Slab', serif;
