// backgrounds
$white-bg: rgba(255, 255, 255, 0.5);
$input-bg: #5c5c5c;

// font colors
$main-font-color: #dedede;
$yellow: #FDE303;

// font sizes
$font-size-large: 1.4em;
$font-size-med: 1.2em;
$font-size-small: 1em;
$font-size-small-x: 0.9em;
$font-size-small-xx: 0.75em;


// fonts
$raleway: 'Raleway', sans-serif;
$title: 'Quicksand', sans-serif;;
