@mixin flex {
  display: flex;
  flex-flow: column;
  align-items: center;
}

@mixin font-bg {
  background: -webkit-linear-gradient(0deg, #000 33%, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(0deg, #000 33%, rgba(0, 0, 0, 0));
  background: linear-gradient(0deg, #000 33%, rgba(0, 0, 0, 0));
}
