@mixin flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: column;
	align-items: center;
}

@mixin font-bg {
	background: -moz-linear-gradient(0deg, #000 33%, rgba(0, 0, 0, 0));
	background: -webkit-gradient(linear, 0deg, #000 33%, rgba(0, 0, 0, 0));
	background: -webkit-linear-gradient(0deg, #000 33%, rgba(0, 0, 0, 0));
	background: -o-linear-gradient(0deg, #000 33%, rgba(0, 0, 0, 0));
	background: -ms-linear-gradient(0deg, #000 33%, rgba(0, 0, 0, 0));
	background: linear-gradient(0deg, #000 33%, rgba(0, 0, 0, 0));
}

$parallax-width: 550px;

@mixin parallax-container {
	height: 100vh;
	background-attachment: fixed;
	@include flex;
	justify-content: flex-end;
	@media (max-width: $parallax-width) {
		background: #000;
	}
}

@mixin parallax-img {
	display: none;
	@media (max-width: $parallax-width) {
		display: block;
	}
}

