$about-break-first: 950px;
$about-break-second: 650px;
$about-break-third: 450px;
.about{
	min-height: 100vh;
	padding-top: 5em;
	@media (max-width: $about-break-second) {
		padding-top: 0;
	}
	#aboutText p {
		text-align: center;
	}

	p {
		font-size: $font-size-large;
		font-weight: 100;
		text-align: center;
		text-shadow: 0px 0px 6px #FFF;
		width: 100%;
		text-align: left;
		@media(max-width: $about-break-second) {
			font-size: $font-size-med;
		}
		@media(max-width: $parallax-width) {
			font-size: $font-size-small;
		}
		@media(max-width: $about-break-third) {
			font-size: $font-size-small-x;
		}
		&:first-of-type {
			margin-bottom: 0em;
			@media(max-width: $about-break-first) {
				padding-top: 2.5em;
			}
			@media(max-width: $about-break-second) {
				padding-top: 3.5em;
			}
		}
	}
	.videoWrapper {
		padding: 5em 0;
		@media(max-width: $about-break-third) {
			padding: 1em 0;
		}
		@media(max-width: $about-break-third) {
			width: 100vw;
		}
	}
	video {
		width: 100%;
	}

	.stepsWrapper {
		padding: 0 0 5em 0;
		background: url('/images/side-right.png') no-repeat right/contain;
		@media(max-width: 740px) {
			background: #FFF;
			padding-bottom: 0;
		}
	}

	.steps {
		@include flex;
		flex-direction: row;
		padding-top: 3em;
		@media(max-width: $about-break-first) {
			padding-top: 1.5em;
		}
		&:last-of-type {
			padding-bottom: 3em;
		}
	}

	.iconWrap {
		@include flex;
		justify-content: center;

		width: 100px;
		min-width: 100px;
		height: 100px;
		@media(max-width: $about-break-first) {
			width: 70px;
			min-width: 70px;
			height: 70px;
		}
		@media(max-width: 414px) {
			width: 50px;
			min-width: 50px;
			height: 50px;
		}

		&:nth-child(odd) {
			border: 5px solid #000;
			border-radius: 90px;
			i.bp-arrow{
				position: absolute;
				transform: rotate(45deg);
				margin: -19px 0 0 14px;
				@media(max-width: $about-break-first) {
					margin: -15px 0 0 12px;
				}
				@media(max-width: 414px) {
					margin: -12px 0 0 9px;
				}
			}
		}
		&:nth-of-type(even) {
			@media(max-width: $about-break-first) {
				width: 40px;
				min-width: 40px;
			}
		}
		&:nth-child(3){
			margin-right: 30px;
		}
		&:not(:first-child){
			@media(max-width: 565px){
				display: none;
			}
		}
		&:first-child{
			@media(max-width: 565px){
				margin-right: 30px;
			}
		}
		img {
			width: 70%;
		}
		i.fa {
			font-size: 5em;
			@media(max-width: $about-break-first) {
				font-size: 3.5em;
			}
			@media(max-width: 414px) {
				font-size: 2.5em;
			}
		}
		i.bp-arrow {
			font-size: 2em;
			@media(max-width: $about-break-first) {
				font-size: 1.5em;
			}
			@media(max-width: 414px) {
				font-size: 1.2em;
			}
		}
		i.bp-plus {
			font-size: 3em;
			@media(max-width: $about-break-first) {
				font-size: 2em;
			}
		}
	}
	.instruction{
		@include flex;
		text-shadow: 0 0 5px #FFF;
		p {
			padding-top: 0;
		}
		ul {
			list-style-position: outside;
		}
		li {
			margin-bottom: 0;
			@media(max-width: $about-break-first) {
				font-size: $font-size-small-x;
			}
		}
	}
	.parallax {
		background: url('/images/columbia.jpg') no-repeat center/cover;
		@include parallax-container;
		height: auto;
		img {
			width:100vw;
			height: auto;
			@include parallax-img;
		}
	}
}
