.about{
	min-height: 100vh;

	.stepsWrapper {
		background: -moz-linear-gradient(transparent 0%, rgba(255, 255, 255, 0.9) 90%), url('/images/side-right.png') no-repeat right/contain;
		background: -webkit-gradient(linear, transparent 0%, rgba(255, 255, 255, 0.9) 90%), url('/images/side-right.png') no-repeat right/contain;
		background: -webkit-linear-gradient(transparent 0%, rgba(255, 255, 255, 0.9) 90%), url('/images/side-right.png') no-repeat right/contain;
		background: -o-linear-gradient(transparent 0%, rgba(255, 255, 255, 0.9) 90%), url('/images/side-right.png') no-repeat right/contain;
		background: -ms-linear-gradient(transparent 0%, rgba(255, 255, 255, 0.9) 90%), url('/images/side-right.png') no-repeat right/contain;
		background: linear-gradient(transparent 0%, rgba(255, 255, 255, 0.9) 90%), url('/images/side-right.png') no-repeat right/contain;
	}

	p {
		font-size: $font-size-large;
		font-weight: 100;
		text-align: center;
		text-shadow: 0px 0px 6px #FFF;
		@media(max-width: 650px) {
			font-size: $font-size-med;
		}
		@media(max-width: 550px) {
			font-size: $font-size-small;
		}
		@media(max-width: 450px) {
			font-size: $font-size-small-x;
		}
		&:first-of-type {
			margin-bottom: 0em;
			padding-top: 5em;
			@media(max-width: 850px) {
				padding-top: 2.5em;
			}
			@media(max-width: 650px) {
				padding-top: 3.5em;
			}
		}
	}

	.steps {
		@include flex;
		flex-direction: row;
		padding-top: 3em;
		@media(max-width: 840px) {
			padding-top: 1.5em;
		}
		&:last-of-type {
			padding-bottom: 3em;
		}
	}

	.iconWrap {
		@include flex;
		justify-content: center;

		width: 100px;
		min-width: 100px;
		height: 100px;
		@media(max-width: 840px) {
			width: 70px;
			min-width: 70px;
			height: 70px;
		}
		@media(max-width: 414px) {
			width: 50px;
			min-width: 50px;
			height: 50px;
		}

		&:nth-child(odd) {
			border: 5px solid #000;
			border-radius: 90px;
			i.bp-arrow{
				position: absolute;
				transform: rotate(45deg);
				margin: -19px 0 0 14px;
				@media(max-width: 840px) {
					margin: -15px 0 0 12px;
				}
				@media(max-width: 414px) {
					margin: -12px 0 0 9px;
				}
			}
		}
		&:nth-of-type(even) {
			@media(max-width: 840px) {
				width: 40px;
				min-width: 40px;
			}
		}
		&:nth-child(3){
			margin-right: 30px;
		}
		&:not(:first-child){
			@media(max-width: 565px){
				display: none;
			}
		}
		&:first-child{
			@media(max-width: 565px){
				margin-right: 30px;
			}
		}
		img {
			width: 70%;
		}
		i.fa {
			font-size: 5em;
			@media(max-width: 840px) {
				font-size: 3.5em;
			}
			@media(max-width: 414px) {
				font-size: 2.5em;
			}
		}
		i.bp-arrow {
			font-size: 2em;
			@media(max-width: 840px) {
				font-size: 1.5em;
			}
			@media(max-width: 414px) {
				font-size: 1.2em;
			}
		}
		i.bp-plus {
			font-size: 3em;
			@media(max-width: 840px) {
				font-size: 2em;
			}
		}
	}
	.instruction{
		@include flex;
		p {
			padding-top: 0;
		}
		ul {
			list-style-position: outside;
		}
		li {
			margin-bottom: 0;
			@media(max-width: 840px) {
				font-size: $font-size-small-x;
			}
		}
	}
}
