.about{
	min-height: 100vh;

	p {
		font-size: $font-size-large;
		font-weight: 100;
		text-align: center;
		@media (max-width: 650px) {
			font-size: $font-size-med;
		}
		@media (max-width: 550px) {
			font-size: $font-size-small;
		}
		@media (max-width: 450px) {
			font-size: $font-size-small-x;
		}
		&:first-of-type {
			padding-top: 5em;
			margin-bottom: 0em;
			@media (max-width: 850px) {
				padding-top: 2.5em;
			}
			@media (max-width: 650px) {
				padding-top: 3.5em;
			}
		}
	}

	.steps {
		@include flex;
		flex-direction: row;
		padding-top: 3em;
		&:last-of-type {
			padding-bottom: 3em;
		}
	}

	.iconWrap {
		width: 100px;
		min-width: 100px;
		height: 100px;
		@include flex;
		justify-content: center;

		&:nth-child(odd) {
			border: 5px solid #000;
			border-radius: 90px;
			i:nth-child(2){
				position: absolute;
				margin: -19px 0 0 14px;
				transform: rotate(45deg);
			}
		}
		&:nth-child(3){
			margin-right: 30px;
		}
		img {
			width: 70%;
		}
	}
	.instruction{
		@include flex;
		p {
			padding-top: 0;
		}
		ul {
			list-style-position: outside;
		}
		li {
			margin-bottom: 0;
		}
	}
}
