.about{
  width: 65%;
  background: -webkit-linear-gradient(0deg, rgb(0, 0, 0) 33%, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(0deg, rgb(0, 0, 0) 33%, rgba(0, 0, 0, 0));
  background: linear-gradient(0deg, rgb(0, 0, 0) 33%, rgba(0, 0, 0, 0));

  p {
    font-size: $font-size-large;
    font-weight: 100;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.5em #000;
    &:first-of-type {
      padding-top: 1em;
      margin-bottom: 0em;
    }
  }
}

@media (max-width: 850px) {
  .about {
    width: 75%;
    p:first-of-type {
      padding-top: 2.5em;
    }
  }
}
@media (max-width: 650px) {
  .about {
    width: 85%;
    p {
      font-size: $font-size-med;
      &:first-of-type {
        padding-top: 3.5em;
      }
    }
  }
}
@media (max-width: 550px) {
  .about {
    p {
      font-size: $font-size-small;
      &:first-of-type {
        padding-top: 4.5em;
      }
    }
  }
}
@media (max-width: 450px) {
  .about {
    p {
      font-size: $font-size-small-x;
      &:first-of-type {
        padding-top: 5.5em;
      }
    }
  }
}
