.phoneLabelled {
  background: #000;
  color: #FFF;
  width: 100vw;
  height: 100vh;
  @include flex;
  flex-direction: row;
  figure{
    padding-top: 1em;
    padding-bottom: 2em;
  }
  img {
    height: 40em;
    @media (max-width: 550px) {
      height: 30em;
    }
  }
  div {
    padding-left: 4em;
    ul {
      list-style-position: outside;
    }
  }
}
