.phone {
  height: 100vh;
  background: -webkit-linear-gradient(0deg, #000, rgba(0, 0, 0, 0.0) 60%), url('/images/phone-close-glossy.jpg') no-repeat center/contain;
  background: -o-linear-gradient(0deg, #000, rgba(0, 0, 0, 0.0) 60%), url('/images/phone-close-glossy.jpg') no-repeat center/contain;
  background: linear-gradient(0deg, #000, rgba(0, 0, 0, 0.0) 60%), url('/images/phone-close-glossy.jpg') no-repeat center/contain;
  background-attachment: fixed;

  @include flex;
  justify-content: flex-end;
}
.phone-labeled {
  @include flex;
  figure{
    padding-top: 1em;
    padding-bottom: 2em;
  }
  img {
    height: 42em;
  }
}
@media (max-width: 550px) {
  .phone {
    background: #000;
    height: 0vh;
  }

  .phone-labeled {
    img {
      width: 100vw;
      height: auto;
    }
  }

}
