.faq {
	padding: 0 5em 5em 5em;
	ul {
		padding: 0 1.6em;
	}
	li {
		@extend p;
		&:not(.faqli) {
			list-style: none;
		}
	}
	a {
		color: #000;
	}
	#warranty {
		padding: 1em 3em;
		background-color: $yellow;
	}
}