$faq-break-point: 450px;
.faq {
	padding: 0 5em 5em 5em;
	@media(max-width: 480px) { /* bottom nav */
		margin-bottom: 5em;
	}
	@media(max-width: $faq-break-point) {
		padding: 0;
	}
	ul {
		padding: 0 1.6em;
	}
	li {
		@extend p;
		&:not(.faqli) {
			list-style: none;
		}
	}
	a {
		color: #000;
	}
	#warranty {
		padding: 1em 3em;
		background-color: $yellow;
	}
	.faqWrapper{
		@media(max-width: $faq-break-point) {
			padding: 2.5em;
		}
	}
	.imgWrapper {
		text-align: center;
		img {
			@media(max-width: $parallax-width) {
				width: 100%;
			}
		}
		@media(max-width: $faq-break-point) {
			width:100%;
		}
	}
}