.features {
  background: #000;
  color: #FFF;
  @include flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1em;
  width: 100vw;
  @media(max-width: $parallax-width) {
    flex-wrap: wrap;
  }

  figure{
    padding-top: 1em;
    padding-bottom: 2em;
    @media(max-width: $parallax-width) {
      width: 100%;
      text-align: center;
    }
  }
  img {
    height: 40em;
    @media (max-width: $parallax-width) {
      height: 30em;
    }
  }
  div {
    padding-left: 4em;
    @media (max-width: $parallax-width) {
      padding-left: 2em;
    }
    ul {
      list-style-position: outside;
    }
  }
  @media(max-width: 400px) {
    li {
      font-size: $font-size-small-x
    }
  }
}
