nav {
	@include flex;
	flex-flow: row;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 5.5em;
	z-index: 3;
	@media (max-width: 480px){
		top: initial;
		bottom: 0;
	}

	section{
		padding-left: 2em;
		display: inherit;
		align-items: center;
		@media (max-width: 480px){
			&#social-media {
				width: 100vw;
				justify-content: space-around;
				padding-left: 0;
			}
		}
	}
	figure {
		@include flex;
		margin: 0;
		padding-right: 1em;
		
		&:hover figcaption {
			visibility: visible;
			color: $yellow;
		}

		a:last-of-type {
			height: 45px; /* same as svg viewbox*/
			i {
				padding-right: 0.4em;
			}
		}
	}
	img {
		width: 6em;
		height: 5em;
		@media (max-width: 480px){
			display: none;
		}
	}
	figcaption {
		visibility: hidden;
		margin-top: -0.7em;
		font-family: $raleway;
		&:last-of-type{
			position: absolute;
			top: 4.5em
		}
		@media (max-width: 480px) {
			visibility: visible;
			&:active {
				color: $yellow;
			}
		}
	}
	path {
		&:hover{
			fill: $yellow;
			stroke: #000;
		}
		@media (max-width: 480px) {
			fill: $yellow;
			stroke: #000;
		}
	}
	i{
		color: #FFF;
		@media (max-width: 480px) {
			color: $yellow;
		}
	}
	.fa-3x {
		font-size: 2.5em;
	}

	.fb-share-button{
		display: none;
	}
	button {
		height: 100%;
		padding-top: 0.6em;
		margin-bottom: 0;
		&:hover {
			border-color: $yellow;
			color: $yellow;
			i {
				color: $yellow;
			}
		}
	}
}


footer {
	padding: 1em;
	@include flex;
	@media (max-width: 480px) {
		padding-bottom: 5.5em;
	}
	a {
		color: #000;
		padding-left: 0.5em;
		padding-right: 0.5em;
		&:hover {
			color: $yellow;
		}
		@media (max-width: 480px) {
			&:active {
				color: $yellow;
			}
		}
	}
	img {
		width: 5em;
	}
	p {
		margin-bottom: 0;
	}
}
