$nav-break-small: 480px;

nav {
  @include flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5.5em;
  z-index: 3;
  @media (max-width: $nav-break-small){
    top: initial;
    bottom: 0;
  }

  section{
    padding-left: 2em;
    display: inherit;
    align-items: center;
    @media (max-width: $nav-break-small){
      &#social-media {
        width: 100vw;
        justify-content: space-around;
        padding-left: 0;
      }
    }
  }
  figure {
    @include flex;
    margin: 0;
    &:first-of-type {
      padding-right: 1em;
    }
    &:hover figcaption {
      visibility: visible;
      color: $yellow;
    }
    &.navIcon{
      padding: 0 0.8em;
      #lastItem {
        margin-left: -1.2em;
      }
    }
  }
  img {
    width: 6em;
    height: 5em;
    @media (max-width: $nav-break-small){
      display: none;
    }
  }
  h3 {
    padding-left: 1em;
    margin-bottom: 0;
    @include font-bg;
    @media (max-width: 955px){
      font-size: 3rem;
    }
    @media (max-width: 850px){
      font-size: 2.2rem;
    }
    @media (max-width: 710px){
      font-size: 1.7rem;
    }
    @media (max-width: 625px){
      display: none;
    }
  }
  figcaption {
    visibility: hidden;
    margin-top: -0.7em;
    font-family: $raleway;
    &:last-of-type{
      position: absolute;
      top: 4.5em;
    }
    @media (max-width: $nav-break-small) {
      visibility: visible;
      &:active {
        color: $yellow;
      }
    }
  }
  path {
    &:hover{
      fill: $yellow;
      stroke: #000;
    }
    @media (max-width: $nav-break-small) {
      fill: $yellow;
      stroke: #000;
    }
  }
  i{
    color: #FFF;
    &:hover {
      color: $yellow;
    }
    @media (max-width: $nav-break-small) {
      color: $yellow;
    }
  }
  .fa-3x {
    font-size: 2.5em;
  }

  .fb-share-button{
    display: none;
  }
}


footer {
  @include flex;
  @media (max-width: $nav-break-small) {
    padding-bottom: 5.5em;
  }
  a {
    color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
    &:hover {
      color: $yellow;
    }
    @media (max-width: $nav-break-small) {
      &:active {
        color: $yellow;
      }
    }
  }
  img {
    width: 5em;
  }
  p {
    margin-bottom: 0;
  }
}
