$nav-break-point: 480px;
nav {
	@include flex;
	flex-flow: row;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 5.5em;
	z-index: 3;
	@media (max-width: $nav-break-point){
		display: none;
	}

	section{
		padding-left: 2em;
		display: inherit;
		align-items: center;
	}
	figure {
		@include flex;
		margin: 0;
		padding-right: 1em;

		&:hover figcaption {
			visibility: visible;
			color: $yellow;
		}

		a:last-of-type {
			height: 45px; /* same as svg viewbox*/
			i {
				padding-right: 0.4em;
			}
		}
	}
	img {
		width: 6em;
		height: 5em;
	}
	figcaption {
		visibility: hidden;
		margin-top: -0.7em;
		font-family: $raleway;
		&:last-of-type{
			position: absolute;
			top: 4.5em
		}
	}
	path {
		&:hover{
			fill: $yellow;
			stroke: #000;
		}
	}
	i{
		color: #FFF;
	}
	.fa-3x {
		font-size: 2.5em;
	}

	.fb-share-button{
		display: none;
	}
	button {
		height: 100%;
		padding-top: 0.6em;
		margin-bottom: 0;
		&:hover {
			border-color: $yellow;
			color: $yellow;
			i {
				color: $yellow;
			}
		}
		i {
			padding-right: 0.5em;
		}
	}
}


footer {
	padding: 1em;
	@include flex;
	@media (max-width: $nav-break-point) {
		position: fixed;
		bottom: 0;
		padding: 0;
		margin: 0;
	}
	section {
		@media(max-width: $nav-break-point) {
			background-color: #000;
			@include flex;
			flex-direction: row;
			justify-content: space-around;
			width: 100vw;
			padding: 0.7em 0;
			&:first-of-type {
				display: none;
			}
			&:last-of-type {
				display: none;
			}
		}
		i.fa {
			@media(max-width: $nav-break-point) {
				font-size: 2.5em;
			}
			@media(max-width: 375px) {
				font-size: 2em;
			}
		}
	}
	a {
		color: #000;
		padding-left: 0.5em;
		padding-right: 0.5em;
		&:hover {
			color: $yellow;
		}
		@media (max-width: $nav-break-point) {
			color: #FFF;
			&:active {
				color: $yellow;
			}
		}
	}
	p {
		margin-bottom: 0;
		@media(max-width: $nav-break-point) {
			display: none;
		}
	}
	button {
		color: #FFF;
		height: auto;
		margin-bottom: 0;
		padding: 0.2em 1em;
		&:hover {
			color: $yellow;
		}
	}
	#foot-america, #foot-international {
		display: none;
		@media(max-width: $nav-break-point) {
			display: block;
			&.is-hidden {
				display: none;
			}
		}
	}
}
