.gorillas {
  .column {
    margin: 0em;
    height: 25em;
    width: 50%;
  }
  .left {
    background: url('/images/gorilla-face-close.jpg') no-repeat center/cover;

  }
  .right {
    padding:1.5em;
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0), #000), url('/images/gorilla-face.jpg') no-repeat center/cover;
    background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0), #000), url('/images/gorilla-face.jpg') no-repeat center/cover;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), #000), url('/images/gorilla-face.jpg') no-repeat center/cover;
  }
  a {
    color: $yellow;
  }
}

@media (max-width: 1120px) {
  .column.left {
    width: 35%;
  }
  .column.right {
    width: 65%;
  }
}
@media (max-width: 865px) {
  .column.left {
    display: none;
  }
  .column.right {
    width: 100%;
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/gorilla-face.jpg') no-repeat center/cover;
    background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/gorilla-face.jpg') no-repeat center/cover;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/gorilla-face.jpg') no-repeat center/cover;
  }
}
@media (max-width: 750px) {
  .column.right {
    height: 70vh;
  }
}
