.gorillas {
  color: #FFF;
  background-color: #000;
  .column {
    margin: 0em;
    width: 50%;
    max-height: 660px;
  }
  a {
    color: $yellow;
  }

  .left {
    overflow: hidden;
    img {
      width: 100%;
      @media(min-width: 1250) {
        margin-top: -50px;
      }
      @media (max-width: 475px) {
        display: none;
      }
    }
    @media (max-width: 1120px) {
      width: 35%;
    }
  }

  .right {
    height: 660px;
    max-height: 660px;
    @include flex;
    justify-content: space-around;
    width: 65%;
    @media (max-width: 475px) {
      width: 100%;
    }
    h2 {
      text-align: center;
      margin: 0;
    }
    p {
      padding-left: 1.5em;
      padding-right: 1.5em;
      margin-bottom: 1em;
      &:first-of-type {
        padding-top: 1em;
      }
    }
    figure {
      text-align: center;
      img{
        height: 5em;
      }
    }
  }
}
