.gorillas {
  .column {
    margin: 0em;
    height: 30em;
    width: 50%;
  }
  .left {
    background: url('/images/gorilla-face-close.jpg') no-repeat center/cover;
    @include flex;
    align-items: flex-start;
    justify-content: flex-end;
    cite{
      color: white;
    }
  }
  .right {
    padding:1.5em;
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0), #000), url('/images/gorilla-face.jpg') no-repeat center/cover;
    background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0), #000), url('/images/gorilla-face.jpg') no-repeat center/cover;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), #000), url('/images/gorilla-face.jpg') no-repeat center/cover;
  }
  a {
    color: $yellow;
  }
  figure {
    text-align: center;
    img{
      height: 5em;
    }
  }
}

@media (max-width: 1120px) {
  .column.left {
    width: 35%;
    cite{
      color: black;
    }
  }
  .column.right {
    width: 65%;
  }
}
@media (max-width: 865px) {
  .column.left {
    display: none;
  }
  .column.right {
    width: 100%;
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/gorilla-face.jpg') no-repeat center/cover;
    background: -webkit-gradient(linear, 0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/gorilla-face.jpg') no-repeat center/cover;
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/gorilla-face.jpg') no-repeat center/cover;
    background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/gorilla-face.jpg') no-repeat center/cover;
    background: -ms-linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/gorilla-face.jpg') no-repeat center/cover;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/gorilla-face.jpg') no-repeat center/cover;
  }
}
@media (max-width: 750px) {
  .column.right {
    height: auto;
  }
}
