.lp {
  background: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url('/images/jungle.png') no-repeat center/cover;
  background: -webkit-gradient(linear, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url('/images/jungle.png') no-repeat center/cover;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url('/images/jungle.png') no-repeat center/cover;
  background: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url('/images/jungle.png') no-repeat center/cover;
  background: -ms-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url('/images/jungle.png') no-repeat center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url('/images/jungle.png') no-repeat center/cover;
  height: 100vh;
  @include flex;

  img {
    width: 20vw;
    min-width: 10em;
    padding-top: 2em;
  }
  h1 {
    color: $yellow;
    font-family: $title;
    padding-top: 2em;
  }
}

@media (max-width: 750px) {
  .lp h1 {
    font-size: 4.2rem;
  }
}
@media (max-width: 550px) {
  .lp h1 {
    font-size: 3.2rem;
  }
}
@media (max-width: 400px) {
  .lp h1 {
    font-size: 2.7rem;
  }
}
