.lp {
	height: 100vh;
	#top {
		background-color: #000;
		width: 100%;
		@include flex;
		height: 80vh;
		img {
			position: absolute;
			height: 100%;
		}
	}
	#igBadge {
		width: 15vw;
		height: auto;
		min-width: 100px;
		max-width: 140px;
		transform: rotate(15deg);
		margin: -50px 0 0 0;
		position: absolute;
		right: 15vw;
	}
}
