.lp {
  background-image: url('/images/bg-jungle-lp.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;

  img {
    width: 20vw;
    min-width: 10em;
  }
  h1 {
    background-color: $white-bg;
    padding: 0.25em;
    padding-top: 0.35em;
    font-family: "Orator Std";
  }

}
