.lp {
  background: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url('/images/jungle.png') no-repeat center/cover;
  background: -webkit-gradient(linear, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url('/images/jungle.png') no-repeat center/cover;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url('/images/jungle.png') no-repeat center/cover;
  background: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url('/images/jungle.png') no-repeat center/cover;
  background: -ms-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url('/images/jungle.png') no-repeat center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url('/images/jungle.png') no-repeat center/cover;
  height: 100vh;
  @include flex;

  img {
    width: 20vw;
    min-width: 10em;
    padding-top: 2em;
  }
  h1 {
    color: $yellow;
    font-family: $title;
    padding-top: 1em;
    margin-bottom: 0;
    @media (max-width: 750px) {
        font-size: 4.2rem;
    }
    @media (max-width: 550px) {
        font-size: 3.2rem;
    }
    @media (max-width: 400px) {
        font-size: 2.7rem;
    }
  }
  .scroll {
    @include flex;
    i{
      color: #FFF;
      text-align: center;
    }
    p {
      text-align: center;
      font-size: $font-size-large;
    }
  }
}

.vid {
  @include flex;
  a {
    width: 60%;
    padding-top: 5em;
    padding-bottom: 5em;
    @media (max-width: 1050px){
      width: 80%;
    }
    img {
      width: 100%;
    }
  }
}
