nav {
  @include flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5.5em;
  z-index: 3;
  @media (max-width: 480px){
    top: initial;
    bottom: 0;
  }

  section{
    padding-left: 2em;
    display: inherit;
    align-items: center;
    @media (max-width: 480px){
      &#social-media {
        width: 100vw;
        justify-content: space-around;
        padding-left: 0;
      }
    }
  }
  figure {
    @include flex;
    margin: 0;
    &:first-of-type {
      padding-right: 1em;
    }
    &:hover figcaption {
      visibility: visible;
    }
    &:last-of-type{
      width: 5.5em;
    }
  }
  img {
    width: 6em;
    height: 5em;
    @media (max-width: 480px){
      display: none;
    }
  }
  h3 {
    padding-left: 1em;
    margin-bottom: 0;
    @media (max-width: 920px){
      font-size: 3rem;
    }
    @media (max-width: 815px){
      font-size: 2.2rem;
    }
    @media (max-width: 680px){
      font-size: 1.7rem;
    }
    @media (max-width: 595px){
      display: none;
    }
  }
  figcaption {
    color: $yellow;
    visibility: hidden;
    margin-top: -0.7em;
    &:last-of-type{
      position: absolute;
      top: 4.5em
    }
  }
  path:hover{
    fill: $yellow;
    stroke: #000;
  }
  i{
    color: $yellow;
  }
  .fa-3x {
    font-size: 2.5em; //ugly but you gotta do what you gotta do
  }

  .fb-share-button{
    display: none;
  }
}
