.press {
	@include flex;
	justify-content: center;
	.pressWrapper {
		position: absolute;
		background-color: $yellow;
		margin-top: -50px;
		padding: 1em 4em;
	}
	.pressLinks {
		@include flex;
		justify-content: space-around;
		flex-flow: row wrap;
	}
	.logo {
		width: 70px;
		min-width: 70px;
		@media(max-width: 380px){
			width: 45px;
			min-width: 45px;
		}
		img {
			width: 100%;
		}
	}
}