$press-break-small: 605px;
.press {
	@include flex;
	justify-content: center;
	.pressWrapper {
		position: absolute;
		background-color: $yellow;
		padding: 1em 4em;
		margin-top: -50px;
		@media(max-width: 800px) {
			margin-top: -30px;
		}
		@media(max-width: $press-break-small) {
			position: relative;
			width: 100vw;
			margin-bottom: 1em;
		}
	}
	.pressLinks {
		@include flex;
		justify-content: space-around;
		flex-flow: row wrap;
	}
	.logo {
		width: 70px;
		min-width: 70px;
		@media(max-width: 380px){
			width: 45px;
			min-width: 45px;
		}
		img {
			width: 100%;
		}
	}
	@media(max-width: $press-break-small) {
		height: auto !important;
	}
}