.press {
	#columbia {
		width: 100vw;
		@media(max-width: 765px) {
			width: 100%;
		}
	}

	.pressWrapper {
		@include flex;
		justify-content: center;
		background-color: $yellow;
		margin-top: -50px;
		padding: 1em 4em;
	}
	.logoWrapper{
		@include flex;
		flex-direction: row;
		padding-bottom: 1em;
		a {
			color: #000;
			font-size: $font-size-large;
			@media(max-width: 665px){
				font-size: $font-size-med;
			}
			@media(max-width: 515px){
				font-size: $font-size-small;
			}
		}
	}
	.logo {
		margin-right: 3em;
		@include flex;
		justify-content: center;
		width: 70px;
		min-width: 70px;
		@media(max-width: 380px){
			width: 45px;
			min-width: 45px;
		}
		img {
			width: 100%;
		}
	}
}