form {
  padding-top: 2em;
  p{
    text-align: center;
    font-size: $font-size-large;
    margin-bottom: 0em;
    &.sent-message{
      color: $yellow;
    }
  }
  .helper {
    color: $yellow;
    font-size: $font-size-small;
    text-align: left;
  }
  input {
    &::-webkit-input-placeholder {
      color: $input-font-color;
    }
    &:-moz-placeholder {
      color: $input-font-color;
    }
    &::-moz-placeholder {
      color: $input-font-color;
    }
    &:-ms-input-placeholder {
      color: $input-font-color;
    }

    &:focus {
      border: 1px solid $yellow !important;
    }
    &[disabled]{
      cursor: default;
      color: #000;
    }

    &.button {
      background: $yellow;

      &[disabled]{
        background-color: #000;
        color: $yellow;
        border: 1px solid $yellow;
        cursor: default;
      }
    }

    &[type='text'] {
      background: $input-bg;
      border: 1px solid #000;
      margin-bottom: 0em;
    }
    &[type='email'] {
      @extend [type='text'];
    }
    &[type='submit']{
      -webkit-appearance: none;
      -webkit-border-radius:4px;
      border-radius:4px;
    }
  }
  .submit-wrapper{
    text-align: center;
    padding-top: 1em;
  }
  .row {
    padding-top: 0.75em;
  }
}

@media (max-width: 650px) {
  form{
    p {
      font-size: $font-size-med;
    }
  }
}
@media (max-width: 550px) {
  form{
    p {
      font-size: $font-size-small;
    }
  }
}
@media (max-width: 450px) {
  form{
    p {
      font-size: $font-size-small-x
    }
    p:last-of-type {
      font-size: $font-size-small-xx
    }
  }
}
