.taglines {
  height: 100vh;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url('/images/phone-close-glossy.jpg') no-repeat center/contain;
  background: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url('/images/phone-close-glossy.jpg') no-repeat center/contain;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url('/images/phone-close-glossy.jpg') no-repeat center/contain;
  background-attachment: fixed;
  @include flex;
  justify-content: flex-end;

  .tagline-container{
    width: 100vw;
    max-width: 960px;
    @include font-bg;
    @include flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    h2 {
      margin-bottom: 0;
    }
  }
}
@media (max-width: 960px){
  .taglines h2{
    font-size: $title-size-large;
  }
}
@media (max-width: 750px){
  .taglines h2{
    font-size: $title-size-medium;
  }
}
@media (max-width: 650px){
  .taglines h2{
    font-size: $title-size-small;
  }
}
@media (max-width: 550px){
  .taglines {
    height: 20vh;
    background: #000;
    .tagline-container {
      background: $yellow;
    }
    h2 {
      color: #000;
      line-height: $title-size-small;
      font-size: $title-size-small-x;
    }
  }
}
