.taglineContainer{
  width: 100vw;
  max-width: 960px;
  @include font-bg;
  @include flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  @media (max-width: 550px){
    background: $input-font-color;
  }
  h2 {
    margin-bottom: 0;
    @media (max-width: 960px){
      font-size: $title-size-large;
    }
    @media (max-width: 750px){
      font-size: $title-size-medium;
    }
    @media (max-width: 650px){
      font-size: $title-size-small;
    }
    @media (max-width: 550px){
      color: #000;
      line-height: $title-size-large;
      font-size: $title-size-small-x;
    }
  }
}

